*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
footer{
  width: 1400px;
  height: fit-content;
  margin-top: 50px;
  color: #fff;
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px){
  footer{
			width: 768px;

  }
}
@media (max-width: 540px){
  footer{
			width: 400px;

  }
}